@use "../abstract/functions";
@use "../abstract/mixins";
@use "../abstract/veribles";
@use "../base/base";
@use "../base/typography";
.software_section {
  text-align: center;
  margin-top: 150px;
  h2 {
    @include mixins.fontStill(veribles.$thirdBlack, 700, 48px, 60px);
  }
  p {
    margin-top: 24px;
    @include mixins.fontStill(veribles.$primaryBlack, inherit, 17px, 34px);
  }
  a {
    justify-content: center;
    span {
      display: inline-block;
    }
  }
  img {
    width: 100%;
    margin-top: 50px;
  }
  @media screen and (max-width: 550px) {
    margin-top: 50px;
    h2 {
      @include mixins.fontStill(veribles.$thirdBlack, 700, 36px, 40px);
    }
    img {
      margin-top: 20px;
    }
  }
}
