$primaryBlack: #02073e;
$secondryBlack: #343d48;
$thirdBlack: #0f2137;
$primaryPurple: #8d448b;

$mainGrey: #f6f8fb;
$secondryGrey: #566272;
$thirdGrey: #c7d0dc;

$lightBlue: #f8fafc;
$navbar: "brend", "menu";
$button: "white", "purple";
$titles: "exciting", "customers", "tutorials";
